---
http_interactions:
- request:
    method: get
    uri: https://api.debounce.io/v1/?api=yolo-debounce-api-key&append=true&email=mohsen@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"debounce":{"email":"mohsen@gmail.com","fullname":"Mohsen Javdani","firstname":"Mohsen","lastname":"Javdani","photo":"https://lh3.googleusercontent.com/a-/AAuE7mChkYGFq_3AAacjlUZaQqfKnfiawLJno1EkDzWMoQ","code":"5","role":"false","free_email":"true","result":"Safe
        to Send","reason":"Deliverable","send_transactional":"1"},"success":"1","balance":"52"}'
  recorded_at: Fri, 29 Mar 2019 14:59:45 GMT
recorded_with: VCR 4.0.0
